.grid {
  & div[class^="col-"] {
    margin-bottom: 2rem;
  }

  & a .card-title {
    font-size: 1.8rem;
    color: $c-white;
    text-align: center;
  }

  & .card-img-overlay {
    &:hover {
      background: rgba(150,150,150,0.6);
    }
    background: rgba(200,200,200,0.5);
  }
}