.container-fluid,
.container {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  //animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.with-bg-img {
  width: 100%;
  height: 100%;
  position: fixed;
  background-repeat: repeat-x;
  -webkit-filter: opacity(60%);
  filter: opacity(60%);
}

th {
  &.col{
    width: 0;
  }
}

.nav-link.active {
  background-color: $brand-primary;
  color: $c-white;
}

.oi {
  font-size: 0.8rem;
}

.btn-primary .oi {
  color: $c-white;
}