.post {
  margin-bottom: 2rem;

  & .card-body {
    padding: 2rem 3rem;
  }

  & .card-subtitle {
    margin-bottom: 1.5rem !important;
    color: $c-light-gray !important;
  }
}

.posts {
  & .post {
    @extend  .post;
  }
}